<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
            tools:replace="android:name"
            android:name="com.xianzhitech.ptt.DevApp">

        <activity
            android:name="com.xianzhitech.ptt.ui.ServerInitActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="初始化信号服务器"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
