<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="internalOnly"
    package="com.xianzhitech.ptt">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.USE_SIP"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:fullBackupContent="false"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".App"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3562376117e656a0ce17f29b2e524d6bb0116630"
            />

        <meta-data
            android:name="com.xianzhitech.ptt.AppGlideModule"
            android:value="GlideModule" />

        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/AppTheme.Room"
            android:launchMode="singleTask"
            android:showForAllUsers="true"
            android:showOnLockScreen="true"
            android:screenOrientation="portrait"
            android:name=".ui.room.RoomActivity" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:launchMode="singleTask"
            android:label="@string/settings" />

        <activity android:name=".ui.KickOutActivity" />

        <activity android:name=".ui.user.EditProfileActivity"
            android:label="@string/edit_profile" />

        <activity android:name=".ui.app.ShareActivity"
            android:label="@string/share" />

        <activity android:name=".ui.user.ChangePasswordActivity"
            android:label="@string/change_password" />

        <activity android:name=".ui.room.RoomDetailsActivity"
            android:label="@string/room_info" />

        <activity android:name=".ui.home.ModelListActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/user_list" />

        <activity android:name=".ui.user.UserDetailsActivity"
            android:label="@string/user_info" />

        <activity android:name=".ui.app.TextInputActivity" />

        <activity android:name=".ui.group.GroupDetailsActivity"
            android:label="@string/group_info" />

        <activity android:name=".ui.app.FeedbackActivity"
            android:label="@string/feedback" />

        <activity android:name=".ui.app.AboutActivity"
            android:label="@string/about" />

        <receiver android:name=".update.DownloadCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".media.MediaButtonReceiver" android:priority="65536">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <service android:name=".service.handler.BackgroundService" />

        <receiver android:name=".service.handler.RoomInvitationHandler">
            <intent-filter>
                <action android:name="SignalService.Room" />
                <action android:name="PushService.Message" />
            </intent-filter>
        </receiver>

        <receiver android:name=".service.handler.AutoStartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
